@page
@model AutoEscola.Pages.Alunos.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Aluno</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Aluno.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Aluno.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Aluno.Telefone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Aluno.Telefone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Aluno.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Aluno.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Aluno.DataNascimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Aluno.DataNascimento)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Aluno.ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
